<%= search_form_for @search, url: admin_books_path do |f| %>
  <%= f.condition_fields do |condition| %>
    <%= render "condition_fields", f: condition %>
  <% end %>
  <br>
<% end %>

<br>
<table id="book" class="table table-hover table-bordered text-center">
  <tbody>
    <tr>
      <th class="text-center success">
        <%= sort_link @search, :title, t("books.headers.title") %>
      </th>
      <th class="text-center success">
        <%= sort_link @search, :author, t("books.headers.author") %>
      </th>
      <th class="text-center success">
        <%= sort_link @search, :number_of_pages, t("books.headers.number_of_pages") %>
      </th>
      <th class="text-center success">
        <%= sort_link @search, :publish_date, t("books.headers.publish_date") %>
      </th>
      <th class="text-center success">
        <%= sort_link @search, :category, t("categories.headers.name") %>
      </th>
    </tr>
    <%= render @books %>
  </tbody>
</table>
<div class="clear"></div>
